body{
  border-block-end-color: darkolivegreen 10px;
}

.elephants{
  min-width: 800px;
  min-height: 600px;
  background-image: url(pics/elephants.jpg);
  background-size: cover;
  border-left: yellow, 10px;
  border-bottom: yellow, 10px;
}

.giraffes{
  min-width: 800px;
  min-height: 600px;
  background-image: url(pics/giraffes.jpg);
  background-size: cover;
  border-left: yellow, 10px;
  border-bottom: yellow, 10px;
}

.hippos{
  min-width: 800px;
  min-height: 600px;
  background-image: url(pics/hippos.jpg);
  background-size: cover;
  border-left: yellow, 10px;
  border-bottom: yellow, 10px;
}

.horses{
  min-width: 800px;
  min-height: 600px;
  background-image: url(pics/horses.jpg);
  background-size: cover;
  border-left: yellow, 10px;
  border-bottom: yellow, 10px;
}

.lions{
  min-width: 800px;
  min-height: 600px;
  background-image: url(pics/lions.jpg);
  background-size: cover;
  border-left: yellow, 10px;
  border-bottom: yellow, 10px;
}

.lynx{
  min-width: 800px;
  min-height: 600px;
  background-image: url(pics/lynx.jpg);
  background-size: cover;
  border-left: yellow, 10px;
  border-bottom: yellow, 10px;
}

.penguins{
  min-width: 800px;
  min-height: 600px;
  background-image: url(pics/penquins.jpg);
  background-size: cover;
  border-left: yellow, 10px;
  border-bottom: yellow, 10px;
}

.rhinos{
  min-width: 800px;
  min-height: 600px;
  background-image: url(pics/rhinos.jpg);
  background-size: cover;
  border-left: yellow, 10px;
  border-bottom: yellow, 10px;
}

.tiger{
  min-width: 800px;
  min-height: 600px;
  background-image: url(pics/tiger.jpg);
  background-size: cover;
  border-left: yellow, 10px;
  border-bottom: yellow, 10px;
}

.wolves{
  min-width: 800px;
  min-height: 600px;
  background-image: url(pics/wolves.jpg);
  background-size: cover;
  border-left: yellow, 10px;
  border-bottom: yellow, 10px;
}

.zepras{
  min-width: 800px;
  min-height: 600px;
  background-image: url(pics/zepras.jpg);
  background-size: cover;
  border-left: yellow, 10px;
  border-bottom: yellow, 10px;
}


header{
  padding-left: 40%;
  min-width: 99%;
  margin-right: 3%;
  background-color: mediumseagreen;
}

p{
  color: rgb(78, 77, 77);
}
